
<select  class="select">
	<option value="hide">Город*</option>
	<option value="op1">Киев</option>
	<option value="op2">Львов</option>
	<option value="op3">Черкассы</option>
	<option value="op4">Бровары</option>
	<option value="op5">Ужгород</option>
	<option value="op6">Полтава</option>
	<option value="op7">Краматорск</option>
	<option value="op8">Киев</option>
	<option value="op9">Львов</option>
</select>


<select  class="select">
	<option value="hide">Город*</option>
	<option value="op1">Киев</option>
	<option value="op2">Львов</option>
	<option value="op3">Черкассы</option>
	<option value="op4">Бровары</option>
	<option value="op5">Ужгород</option>
	<option value="op6">Полтава</option>
	<option value="op7">Краматорск</option>
	<option value="op8">Киев</option>
	<option value="op9">Львов</option>
</select>



